div.section
  h3 Ridgewood Older Adult Center
  p Ridgewood Older Adult Center &amp; Services (ROAC) is a community organization in Flushing, Queens that welcomes seniors age 60 and older for activities and daily hot breakfast and lunch.
  p As a member of Queens Interagency Council on Aging, a nonprofit borough-wide coordinating body uniting seniors and services, ROAC is committed to improving the health and quality of life of older adults and their families.
#lists.section.row
  #events.four.columns
    h4 Programs
    ul
      li Event One
      li Event Two
      li Event Three
  #menu.four.columns
    h4 Menus
    ul
      li Menu Item One
      li Menu Item Two
      li Menu Item Three
  #news.four.columns
    h4 Hours
    ul
      li.heading Monday thru Friday
      li 9 am - 4:30 pm
    h4 Location
    ul
      li 59-14 70th Avenue
      li Ridgewood, NY
      li: a(href="https://www.google.com/maps/place/Ridgewood+Older+Adult+Center/@40.7011714,-73.8997899,17z/data=!3m1!4b1!4m2!3m1!1s0x89c25c28891312ad:0x1d790908bf4c8ed", target="_blank")
        img(src="images/map-small.jpg")
      li: a(class='button', href="https://www.google.com/maps/dir/Current+Location/Ridgewood+Older+Adult+Center/", target="_blank") Directions
