#intro.row
  div.ten.columns.offset-by-one
    h3 SPARC
    h4 Seniors Partnering with Artists Citywide 
    p Artists Henry Holmes and Hillary Ramos were in residence at Ridgewood Older Adult Center for 4 months, from February to June 2015.